---

---
<header class="l-header">
  <img src={`${import.meta.env.BASE_URL}assets/images/logo.png`} alt="Nexter logo" class="l-header__logo">
  <h3 class="c-heading-3">Your own home:</h3>
  <h1 class="c-heading-1">The ultimate personal freedom</h1>
  <button class="c-button l-header__btn">View our properties</button>
  <div class="l-header__seenon-text">Seen on</div>
  <div class="l-header__seenon-logos">
    <img src={`${import.meta.env.BASE_URL}assets/images/logo-bbc.png`} alt="Seen on logo 1">
    <img src={`${import.meta.env.BASE_URL}assets/images/logo-forbes.png`} alt="Seen on logo 2">
    <img src={`${import.meta.env.BASE_URL}assets/images/logo-techcrunch.png`} alt="Seen on logo 3">
    <img src={`${import.meta.env.BASE_URL}assets/images/logo-bi.png`} alt="Seen on logo 4">
  </div>
</header>