  <section class="p-homes">
    <div class="p-homes__item">
      <img src={`${import.meta.env.BASE_URL}assets/images/house-1.jpeg`} alt="house 1" class="p-homes__thumbnail">
        <svg class="p-homes__icon p-homes__icon--heart">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-heart-full`}></use>
        </svg>
      <h5 class="p-homes__name">Beautiful Family House</h5>
      <div class="p-homes__location">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-map-pin`}></use>
        </svg>
        <p>USA</p>
      </div>
      <div class="p-homes__rooms">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-profile-male`}></use>
        </svg>
        <p>5 rooms</p>
      </div>
      <div class="p-homes__area">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-expand`}></use>
        </svg>
        <p>325m<sup>2</sup></p>
      </div>
      <div class="p-homes__price">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-key`}></use>
        </svg>
        <p>$1,200,000</p>
      </div>
      <button class="c-button p-homes__button">Contact realtor</button>
    </div>

    <div class="p-homes__item">
      <img src={`${import.meta.env.BASE_URL}assets/images/house-2.jpeg`} alt="house 2" class="p-homes__thumbnail">
        <svg class="p-homes__icon p-homes__icon--heart">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-heart-full`}></use>
        </svg>
      <h5 class="p-homes__name">Modern Glass Villa</h5>
      <div class="p-homes__location">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-map-pin`}></use>
        </svg>
        <p>canada</p>
      </div>
      <div class="p-homes__rooms">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-profile-male`}></use>
        </svg>
        <p>6 rooms</p>
      </div>
      <div class="p-homes__area">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-expand`}></use>
        </svg>
        <p>425m<sup>2</sup></p>
      </div>
      <div class="p-homes__price">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-key`}></use>
        </svg>
        <p>$2,750,000</p>
      </div>
      <button class="c-button p-homes__button">Contact realtor</button>
    </div>
    <div class="p-homes__item">
      <img src={`${import.meta.env.BASE_URL}assets/images/house-1.jpeg`} alt="house 1" class="p-homes__thumbnail">
        <svg class="p-homes__icon p-homes__icon--heart">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-heart-full`}></use>
        </svg>
      <h5 class="p-homes__name">Cozy Country House</h5>
      <div class="p-homes__location">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-map-pin`}></use>
        </svg>
        <p>UK</p>
      </div>
      <div class="p-homes__rooms">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-profile-male`}></use>
        </svg>
        <p>4 rooms</p>
      </div>
      <div class="p-homes__area">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-expand`}></use>
        </svg>
        <p>250m<sup>2</sup></p>
      </div>
      <div class="p-homes__price">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-key`}></use>
        </svg>
        <p>$850,000</p>
      </div>
      <button class="c-button p-homes__button">Contact realtor</button>
    </div>
    <div class="p-homes__item">
      <img src={`${import.meta.env.BASE_URL}assets/images/house-3.jpeg`} alt="house 3" class="p-homes__thumbnail">
        <svg class="p-homes__icon p-homes__icon--heart">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-heart-full`}></use>
        </svg>
      <h5 class="p-homes__name">Large Rustical Villa</h5>
      <div class="p-homes__location">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-map-pin`}></use>
        </svg>
        <p>Portugal</p>
      </div>
      <div class="p-homes__rooms">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-profile-male`}></use>
        </svg>
        <p>6 rooms</p>
      </div>
      <div class="p-homes__area">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-expand`}></use>
        </svg>
        <p>480m<sup>2</sup></p>
      </div>
      <div class="p-homes__price">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-key`}></use>
        </svg>
        <p>$1,950,000</p>
      </div>
      <button class="c-button p-homes__button">Contact realtor</button>
    </div>
    <div class="p-homes__item">
      <img src={`${import.meta.env.BASE_URL}assets/images/house-1.jpeg`} alt="house 1" class="p-homes__thumbnail">
        <svg class="p-homes__icon p-homes__icon--heart">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-heart-full`}></use>
        </svg>
      <h5 class="p-homes__name">Majestic Palace House</h5>
      <div class="p-homes__location">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-map-pin`}></use>
        </svg>
        <p>Germany</p>
      </div>
      <div class="p-homes__rooms">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-profile-male`}></use>
        </svg>
        <p>18 rooms</p>
      </div>
      <div class="p-homes__area">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-expand`}></use>
        </svg>
        <p>4230m<sup>2</sup></p>
      </div>
      <div class="p-homes__price">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-key`}></use>
        </svg>
        <p>$9,200,000</p>
      </div>
      <button class="c-button p-homes__button">Contact realtor</button>
    </div>
    <div class="p-homes__item">
      <img src={`${import.meta.env.BASE_URL}assets/images/house-6.jpeg`} alt="house 6" class="p-homes__thumbnail">
        <svg class="p-homes__icon p-homes__icon--heart">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-heart-full`}></use>
        </svg>
      <h5 class="p-homes__name">Modern Family Apart</h5>
      <div class="p-homes__location">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-map-pin`}></use>
        </svg>
        <p>Italy</p>
      </div>
      <div class="p-homes__rooms">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-profile-male`}></use>
        </svg>
        <p>3 rooms</p>
      </div>
      <div class="p-homes__area">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-expand`}></use>
        </svg>
        <p>180m<sup>2</sup></p>
      </div>
      <div class="p-homes__price">
        <svg class="p-homes__icon">
          <use xlink:href={`${import.meta.env.BASE_URL}assets/images/sprite.svg#icon-key`}></use>
        </svg>
        <p>$600,000</p>
      </div>
      <button class="c-button p-homes__button">Contact realtor</button>
    </div>

  </section>